html, body {
    font-size: 16pt;
    font-family: arial;
    padding: 10;
    margin: 2.5ch;
    width: 100%;
    height: 100%;
    background-color: gray;
}

header {

    width: 100%;
    height: 100;
}

h1 {
    background-color:red;
    margin: 0cm;
     padding: 0cm;
  line-height: 50px;
 text-align:center;
    color: black;
}
.nav {
background-color:black;
list-style:none;
color: #f7340b ;
margin:0;
}
.nav > li {
display:inline-block;
padding:10px;

}
.nav > li > a {
font-size:20px;
color: #fdfefe ;

}
.ndec {
	text-decoration:none;
}
@media (max-width:600px) {
.nav {
text-align: right;
display:none;
margin-right:5px;
}
.nav > li {
display:block;
}
.nav-btn {
display:block;
background-color:black;
color:#fff;
font-size:27px;
text-align:right;
margin-right:5px;


}
.nav-btn:before {
content:"Menu";
}
}

/*figure , img {

width:300px;
height:300px;
overflow: hidden;
display: align;
margin: 30px;
/*
 position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
   
} */

figcaption { 

    display: block;
    
           }
@media screen and (min-width:0) and (max-width:700px) {
ul {
    height: 10%;
    background-color: gray;
} 



}

.footer {
  background:#191919;
  color:#fff;
  margin:0;
 text-align:center;
  font-family: 'Open Sans', sans-serif;
}

a{
    display: block;
    color: white;
    text-decoration: none;
}
a:hover {
    color: white;
    background-color: darkblue;
}

@media screen and (min-width:0) and (max-width:700px) {
h1{
    background-color: red;
}
}

.imgcontainer{
    background-color:red;
    margin: 0cm;
     padding: 0cm;
  line-height: 50px;
 text-align:center;
    color: black;
}
.container {
text-align: center;
color: yellow;
}
.contain{
    text-align: center;
color: aqua;

}
.count{
    text-align: left;
color: White;
}
.Finance{
  text-align: left;
color: lawngreen;
}


